@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-bauhaus-red: #D62828;
  --color-bauhaus-blue: #003049;
  --color-bauhaus-yellow: #FCBF49;
  --color-bauhaus-cream: #FDFCF0;
  --color-bauhaus-black: #000000;
}

@layer base {
  body {
    @apply antialiased bg-bauhaus-cream text-bauhaus-black;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.selection-group-scroll {
  scrollbar-width: thin;
  scrollbar-color: #000000 transparent;
}

.selection-group-scroll::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.selection-group-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.selection-group-scroll::-webkit-scrollbar-thumb {
  background-color: #E7E5E4;
  border-radius: 20px;
}